In [17]:
import pandas as pd

In [18]:
data = pd.read_csv('Coffee_company.csv')

In [ ]:
# Removing any leading/trailing spaces from column names  
data.columns = data.columns.str.strip()

In [20]:
data.head()  # Displaying the first few rows of the dataset

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Beverages,United States of America,Robusta,None,2427.75,$3.90,$26.00,"$42,081.00",$-,"$42,081.00","$21,040.50","$16,185.00",01/01/2021,1,January,2021
1,Beverages,Switzerland,Robusta,None,1981.50,$3.90,$26.00,"$34,346.00",$-,"$34,346.00","$17,173.00","$13,210.00",01/01/2021,1,January,2021
2,Snacks,Japan,Robusta,None,3267.00,$3.90,$19.50,"$42,471.00",$-,"$42,471.00","$28,314.00","$10,890.00",01/06/2021,6,June,2021
3,Snacks,Switzerland,Robusta,None,1332.00,$3.90,$19.50,"$17,316.00",$-,"$17,316.00","$11,544.00","$4,440.00",01/06/2021,6,June,2021
4,Snacks,Belgium,Robusta,None,3705.00,$3.90,$19.50,"$48,165.00",$-,"$48,165.00","$32,110.00","$12,350.00",01/06/2021,6,June,2021

In [21]:
# 1. Round up 'Units Sold' to the nearest integer
data['Units Sold'] = data['Units Sold'].apply(lambda x: int(x + (x % 1 > 0)))
data.head()

# import math
# data['Units Sold'] = data['Units Sold'].apply(lambda x: math.ceil(x))
# data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Beverages,United States of America,Robusta,None,2428,$3.90,$26.00,"$42,081.00",$-,"$42,081.00","$21,040.50","$16,185.00",01/01/2021,1,January,2021
1,Beverages,Switzerland,Robusta,None,1982,$3.90,$26.00,"$34,346.00",$-,"$34,346.00","$17,173.00","$13,210.00",01/01/2021,1,January,2021
2,Snacks,Japan,Robusta,None,3267,$3.90,$19.50,"$42,471.00",$-,"$42,471.00","$28,314.00","$10,890.00",01/06/2021,6,June,2021
3,Snacks,Switzerland,Robusta,None,1332,$3.90,$19.50,"$17,316.00",$-,"$17,316.00","$11,544.00","$4,440.00",01/06/2021,6,June,2021
4,Snacks,Belgium,Robusta,None,3705,$3.90,$19.50,"$48,165.00",$-,"$48,165.00","$32,110.00","$12,350.00",01/06/2021,6,June,2021

In [22]:
print(data.columns) #to check the exact name of each column

Index(['Segment', 'Country', 'Product', 'Discount Band', 'Units Sold',
       'Manufacturing Price', 'Sale Price', 'Gross Sales', 'Discounts',
       'Sales', 'COGS', 'Profit', 'Date', 'Month Number', 'Month Name',
       'Year'],
      dtype='object')

In [23]:
# 2. Rename the column 'Month Name' to 'Month'
data.rename(columns={'Month Name': 'Month'}, inplace=True)
data.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month,Year
0,Beverages,United States of America,Robusta,None,2428,$3.90,$26.00,"$42,081.00",$-,"$42,081.00","$21,040.50","$16,185.00",01/01/2021,1,January,2021
1,Beverages,Switzerland,Robusta,None,1982,$3.90,$26.00,"$34,346.00",$-,"$34,346.00","$17,173.00","$13,210.00",01/01/2021,1,January,2021
2,Snacks,Japan,Robusta,None,3267,$3.90,$19.50,"$42,471.00",$-,"$42,471.00","$28,314.00","$10,890.00",01/06/2021,6,June,2021
3,Snacks,Switzerland,Robusta,None,1332,$3.90,$19.50,"$17,316.00",$-,"$17,316.00","$11,544.00","$4,440.00",01/06/2021,6,June,2021
4,Snacks,Belgium,Robusta,None,3705,$3.90,$19.50,"$48,165.00",$-,"$48,165.00","$32,110.00","$12,350.00",01/06/2021,6,June,2021

In [ ]:
# Remove unnecessary characters and convert to numeric
data['Sales'] = pd.to_numeric(data['Sales'].str.replace('$', '', regex=False).str.replace(',', '', regex=False), errors='coerce')
data['Sales'] = data['Sales'].astype(float)

# Display the updated DataFrame
print(data.head())

     Segment                   Country    Product Discount Band  Units Sold  \
0  Beverages  United States of America   Robusta          None         2428
1  Beverages               Switzerland   Robusta          None         1982
2     Snacks                     Japan   Robusta          None         3267
3     Snacks               Switzerland   Robusta          None         1332
4     Snacks                   Belgium   Robusta          None         3705

  Manufacturing Price Sale Price   Gross Sales Discounts    Sales  \
0              $3.90     $26.00    $42,081.00      $-     42081.0
1              $3.90     $26.00    $34,346.00      $-     34346.0
2              $3.90     $19.50    $42,471.00      $-     42471.0
3              $3.90     $19.50    $17,316.00      $-     17316.0
4              $3.90     $19.50    $48,165.00      $-     48165.0

           COGS        Profit        Date  Month Number      Month  Year
0   $21,040.50    $16,185.00   01/01/2021             1   January   2021
1   $17,173.00    $13,210.00   01/01/2021             1   January   2021
2   $28,314.00    $10,890.00   01/06/2021             6      June   2021
3   $11,544.00     $4,440.00   01/06/2021             6      June   2021
4   $32,110.00    $12,350.00   01/06/2021             6      June   2021

In [25]:
# Calculate total sales
total_sales = data['Sales'].sum()
print("Total_Sales: $", total_sales)

Total_Sales: $ 408015039.62999994

In [2]:
################
# Week 8 Code
#
# Plotting the quarterly sales as a bar chart
# Set the figure size to (10, 6)
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))


#
plt.bar(quarterly_sales['Quarter'].dt.to_period('Q').astype(str), quarterly_sales['Total Sales'], color='skyblue')

# Set the properties of the plot
plt.title('Quarterly Sales')
plt.xlabel('Quarter')
plt.ylabel('Total Sales')
plt.xticks(rotation=45)
plt.tight_layout()

# show the plot (you need this for VS Code)
plt.show()

NameError: name 'quarterly_sales' is not defined

In [ ]:
print("hello")